In [1]:
import pandas as pd
import numpy as np

In [2]:
#series

In [3]:
my_dict = {"James": 50, "Lars": 60, "Kirk": 55, "Rob": 65}

In [4]:
pd.Series(my_dict)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [5]:
age_list = [50,60,55,65]
name_list = ["James", "Lars", "Kirk", "Rob"]

In [6]:
pd.Series(age_list, name_list)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [8]:
pd.Series(data=age_list, index=name_list)

James    50
Lars     60
Kirk     55
Rob      65
dtype: int64

In [9]:
numpy_array = np.arange(0,8)

In [10]:
numpy_array

array([0, 1, 2, 3, 4, 5, 6, 7])

In [11]:
pd.Series(numpy_array)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [12]:
new_numpy_array = np.array([10,20,30,40])

In [13]:
pd.Series(new_numpy_array)

0    10
1    20
2    30
3    40
dtype: int32

In [14]:
new_numpy_array

array([10, 20, 30, 40])

In [15]:
name_list

['James', 'Lars', 'Kirk', 'Rob']

In [16]:
pd.Series(data=new_numpy_array, index=name_list)

James    10
Lars     20
Kirk     30
Rob      40
dtype: int32

In [17]:
my_series = pd.Series(data=new_numpy_array, index=name_list)

In [18]:
my_series

James    10
Lars     20
Kirk     30
Rob      40
dtype: int32

In [19]:
type(my_series)

pandas.core.series.Series

In [20]:
my_series["Kirk"]

30

In [21]:
my_series["Kirk"] = 60

In [22]:
my_series

James    10
Lars     20
Kirk     60
Rob      40
dtype: int32

In [23]:
quiz_results = pd.Series(data=[70,60,100], index=["A","B","C"])

In [24]:
quiz_results2 = pd.Series(data=[80,30,50], index=["A","B","C"])

In [25]:
quiz_results

A     70
B     60
C    100
dtype: int64

In [26]:
quiz_results2

A    80
B    30
C    50
dtype: int64

In [27]:
quiz_results + quiz_results2

A    150
B     90
C    150
dtype: int64

In [28]:
exam_results = pd.Series(data=[70,60,100], index=["A","B","C"])

In [29]:
exam_results2 = pd.Series(data=[80,30,50], index=["A","D","C"])

In [30]:
exam_results + exam_results2

A    150.0
B      NaN
C    150.0
D      NaN
dtype: float64